<!DOCTYPE html>
<html lang="en" manifest="{{ STATIC_URL }}cache.manifest">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta http-equiv="cache-control" content="no-cache">
    <link rel="shortcut icon" href="{{ STATIC_URL }}ico/favicon.png">

    <title>Juris - {% block titulo %} {% endblock %}</title>

    <link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/bootstrap-theme.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/juris.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/alertify.core.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/alertify.default.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="{{ STATIC_URL }}js/html5shiv.js"></script>
      <script src="{{ STATIC_URL }}js/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Juris</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">Início</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"> Processos <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">Listagem</a></li>
                <li><a href="#">Adicionar</a></li>
              </ul>
            </li>
          </ul>

          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"> {{ user|capfirst }} <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">Perfil</a></li>              
                <li class="divider"></li>
                <li><a href="#">Sair</a></li>
              </ul>
            </li>
          </ul>
        </div><!--/.navbar-collapse -->
      </div>
    </div>

    <div class="container">
      {% block conteudo %} {% endblock %}
      <hr/>
      <footer>
        <p>&copy; Contiva 2013</p>
      </footer>
    </div> <!-- /container -->

    <script src="{{ STATIC_URL }}js/jquery.js"></script>
    <script src="{{ STATIC_URL }}js/contiva.js"></script>
    <script src="{{ STATIC_URL }}js/alertify.min.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
    <script type="text/javascript">

{% block extra_js %} {% endblock %}

    </script>
    

  </body>
</html>
